html {
  font-size: 62.5%;
}

* > * {
  box-sizing: border-box;
  margin-top: 0;
}

body {
  margin: 8.3rem 0 0 0;
  min-height: 144.7rem;
  background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: 37.4rem auto, 37.5rem auto;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1200px) {
  body {
    margin-top: 11.3rem;
    min-height: 68.7rem;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-position-x: left, right;
    background-size: 58.4rem auto, 108.5rem auto;
  }
}

#main {
  min-width: 37.5rem;
}

.container-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  width: 32.5rem;
}
@media screen and (min-width: 1200px) {
  .container-grid {
    grid-template-columns: 40% 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 12.6rem;
    grid-row-gap: 7rem;
    width: 111rem;
  }
}

@media screen and (min-width: 1200px) {
  .txt-area {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.txt-primary {
  margin-bottom: 2.09rem;
}
@media screen and (min-width: 1200px) {
  .txt-primary {
    margin-bottom: 3rem;
  }
}

.txt-primary {
  font-family: "League Spartan", sans-serif;
  font-size: 3.76rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  line-height: 0.85;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .txt-primary {
    font-size: 5.55rem;
    line-height: 0.85;
    text-align: left;
    letter-spacing: -0.18rem;
  }
}

.txt-secondary {
  margin-bottom: 0;
}

.txt-secondary {
  font-family: "League Spartan", sans-serif;
  font-size: 1.74rem;
  font-weight: 500;
  color: hsl(303, 10%, 53%);
  line-height: 1.47;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .txt-secondary {
    font-size: 1.9rem;
    text-align: left;
    line-height: 1.3;
    letter-spacing: -0.065rem;
  }
}

.ratings-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1200px) {
  .ratings-area {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: space-evenly;
    gap: 0;
    margin-bottom: 0;
    padding-top: 0.9rem;
  }
}

.rating-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 100%;
  height: 7.8rem;
}
@media screen and (min-width: 1200px) {
  .rating-row {
    flex-direction: row;
    justify-content: flex-start;
    gap: 3.3rem;
    max-width: 44.5rem;
    height: 5.5rem;
  }
}

.rating-row {
  border-radius: 1rem;
  background-color: hsl(300, 24%, 96%);
}
@media screen and (min-width: 1200px) {
  .rating-row--top {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .rating-row--bottom {
    align-self: flex-end;
  }
}
.rating-row__five-stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (min-width: 1200px) {
  .rating-row__five-stars {
    margin-left: 3.2rem;
  }
}
.rating-row__star {
  width: 1.7rem;
  height: auto;
}
.rating-row__rating {
  font-family: "League Spartan", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
.rating-row__rating--top {
  margin-left: 1rem;
}
@media screen and (min-width: 1200px) {
  .rating-row__rating--top {
    margin-left: 0;
  }
}

.cards-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.9rem;
}
@media screen and (min-width: 1200px) {
  .cards-area {
    grid-column: 1/3;
    grid-row: 2/3;
    flex-direction: row;
    justify-content: space-between;
    min-height: 26.6rem;
  }
}

.card {
  padding: 4rem 3rem 2.8rem 3.2rem;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .card {
    padding-top: 4.05rem;
    height: 23.4rem;
    width: 35rem;
  }
}

.card {
  border-radius: 1rem;
  background-color: hsl(300, 43%, 22%);
}
@media screen and (min-width: 1200px) {
  .card--left {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .card--right {
    align-self: flex-end;
  }
}
.card__person-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.2rem;
  margin-bottom: 2.7rem;
}
@media screen and (min-widthL 1200px) {
  .card__person-row {
    gap: 2.1rem;
  }
}
.card__img-structure, .card__img {
  display: block;
  width: 4.2rem;
  height: auto;
  overflow: hidden;
}
.card__img {
  border: none;
  border-radius: 50%;
}
.card__name-structure, .card__name {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}
@media screen and (min-width: 1200px) {
  .card__name-structure, .card__name {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }
}
.card__name {
  font-family: "League Spartan", sans-serif;
  font-size: 1.67rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1200px) {
  .card__name {
    font-size: 1.7rem;
  }
}
.card__buyer-status {
  font-family: "League Spartan", sans-serif;
  font-size: 1.67rem;
  font-weight: 500;
  color: hsl(333, 80%, 67%);
}
@media screen and (min-width: 1200px) {
  .card__buyer-status {
    font-size: 1.69rem;
  }
}
.card__quote {
  font-family: "League Spartan", sans-serif;
  font-size: 1.63rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  line-height: 1.33;
}
@media screen and (min-width: 1200px) {
  .card__quote {
    font-size: 1.63rem;
  }
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
