html
    font-size: 62%

* > *
    box-sizing: border-box
    margin-top: 0


// Breakpoints
$medium: 768px
$large: 992px
$x-large: 1200px
$breakpoint: $x-large


// Colors

// Primary
$very-dark-magenta: hsl(300 43% 22%)
$soft-pink: hsl(333 80% 67%)

//Neutral
$dark-grayish-magenta: hsl(303 10% 53%)
$light-grayish-magenta: hsl(300 24% 96%)
$white: hsl(0 0% 100%)   


// Fonts
$font-stack: 'League Spartan', sans-serif

$regular: 400
$medium-weight: 500
$bold: 700

@mixin font ($size, $weight, $color)
    font:
        family: $font-stack
        size: $size
        weight: $weight
    color: $color


body
    margin: 9rem 2rem
    background:
        color: $white

    @media screen and (min-width: $breakpoint)
        margin: 12rem 16.6rem


// main

.container-grid
    display: grid
    grid-template-columns: 100%
    grid-template-rows: auto auto auto
    grid-row-gap: 3.75rem
    margin-right: auto
    margin-left: auto
    min-width: 33rem
    max-width: $medium

    @media screen and (min-width: $breakpoint)
        grid-template-columns: 45% 1fr
        grid-template-rows: auto auto
        grid-column-gap: 2rem
        grid-row-gap: 8rem
        max-width: none

.txt-area
    @media screen and (min-width: $breakpoint)
        grid-column: 1 / 2
        grid-row: 1 / 2

.txt-primary
    margin-bottom: 3rem
    line-height: .8
    text-align: center
    @include font(4rem, $bold, $very-dark-magenta)

    @media screen and (min-width: $breakpoint)
        margin-bottom: 2.6rem
        line-height: .85
        text-align: left
        font-size: 5.7rem

.txt-secondary
    margin-bottom: 0
    line-height: 1.25
    text-align: center
    @include font(1.8rem, $medium-weight, $dark-grayish-magenta)

    @media screen and (min-width: $breakpoint)
        text-align: left
        font-size: 2rem

.ratings-area
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1.5rem

    @media screen and (min-width: $breakpoint)
        grid-column: 2 / 3
        grid-row: 1 / 2

.rating-row
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1.6rem
    width: 100%
    height: 8rem
    border-radius: 1rem
    background-color: $light-grayish-magenta

    @media screen and (min-width: $breakpoint)
        flex-direction: row
        justify-content: left
        gap: 3rem
        max-width: 44rem

    &--top
        align-self: flex-start

    &--bottom
        align-self: flex-end

    &__five-stars
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 1rem

        @media screen and (min-width: $breakpoint)
            margin-left: 3rem

    &__star
        height: auto
        width: 1.7rem

    &__rating
        @include font(1.75rem, $bold, $very-dark-magenta)

.cards-area
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    gap: 1rem

    @media screen and (min-width: $breakpoint)
        grid-column: 1 / 3
        grid-row: 2 / 3
        flex-direction: row
        justify-content: space-between
        gap: 1rem
        min-height: 30rem

.card
    padding: 4rem
    border-radius: 1rem
    background-color: $very-dark-magenta

    @media screen and (min-width: $breakpoint)
        min-height: 23rem
        max-width: 35rem

    &--left
        align-self: flex-start

    &--right
        align-self: flex-end

    &__person-row
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        gap: 2rem
        margin-bottom: 2rem

    &__img
        display: block
        height: auto
        width: 4.2rem
        border: none
        border-radius: 50%
        overflow: hidden

    &__identity-col
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        gap: .4rem

    &__name
        @include font(1.6rem, $bold, $white)

        @media screen and (min-width: $breakpoint)
            font-size: 1.6rem

    &__buyer-status
        @include font(1.6rem, $regular, $soft-pink)

        @media screen and (min-width: $breakpoint)
            font-size: 1.6rem

    &__quote
        line-height: 1.5
        @include font(1.6rem, $medium-weight, $white)

        @media screen and (min-width: $breakpoint)
            font-size: 1.6rem


// footer

.attribution
    font-size: 1.1rem
    text-align: center

.attribution a 
    color: hsl(228, 45%, 44%)