html
    font-size: 62.5%


// CSS reset

* > *
    box-sizing: border-box
    margin-top: 0


// Breakpoints
$small: 576px
$medium: 768px
$large: 992px
$x-large: 1200px
$breakpoint: $x-large


// Colors

// Primary
$very-dark-magenta: hsl(300 43% 22%)
$soft-pink: hsl(333 80% 67%)

//Neutral
$dark-grayish-magenta: hsl(303 10% 53%)
$light-grayish-magenta: hsl(300 24% 96%)
$white: hsl(0 0% 100%)   


// Fonts
$font-stack: 'League Spartan', sans-serif
$regular: 400
$medium-weight: 500
$bold: 700

@mixin font ($size, $weight, $color)
    font:
        family: $font-stack
        size: $size
        weight: $weight
    color: $color


// body

$body-mt-desktop: 11.3rem

body
    margin: 8.3rem 0 0 0

    background:
        image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg")
        repeat: no-repeat, no-repeat
        position: center top, center bottom
        size: 37.4rem auto, 37.5rem auto
        color: $white

    @media screen and (min-width: $breakpoint)
        margin-top: $body-mt-desktop
        min-height: 80rem - $body-mt-desktop

        background:
            image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg")
            position: left top, right bottom
            size: 58.4rem auto, 108.5rem auto

    
// main

#main
    // margin-bottom: 1.5rem
    min-width: 37.5rem

.container-grid
    display: grid
    grid-template-columns: 100%
    grid-template-rows: auto auto auto
    grid-row-gap: 3.75rem
    margin-left: auto
    margin-right: auto
    width: 32.5rem

    @media screen and (min-width: $breakpoint)
        grid-template-columns: 40% 1fr
        grid-template-rows: auto auto
        grid-column-gap: 12.6rem
        grid-row-gap: 7rem
        width: 111rem

.txt-area
    @media screen and (min-width: $breakpoint)
        grid-column: 1 / 2
        grid-row: 1 / 2

%txt-primary-structure
    margin-bottom: 2.09rem

    @media screen and (min-width: $breakpoint)
        margin-bottom: 3rem

.txt-primary
    @extend %txt-primary-structure
    @include font(3.76rem, $bold, $very-dark-magenta)
    line-height: .85
    text-align: center

    @media screen and (min-width: $breakpoint)
        font-size: 5.55rem
        line-height: .85
        text-align: left
        letter-spacing: -.18rem

%txt-secondary-structure
    margin-bottom: 0

.txt-secondary
    @extend %txt-secondary-structure
    @include font(1.74rem, $medium-weight, $dark-grayish-magenta)
    line-height: 1.47
    text-align: center

    @media screen and (min-width: $breakpoint)
        font-size: 1.9rem
        text-align: left
        line-height: 1.3
        letter-spacing: -.065rem

.ratings-area
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    gap: 1.7rem
    margin-bottom: 1rem

    @media screen and (min-width: $breakpoint)
        grid-column: 2 / 3
        grid-row: 1 / 2
        justify-content: space-evenly
        gap: 0
        margin-bottom: 0
        padding-top: 0.9rem

%ratings-row-structure
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1.6rem
    width: 100%
    height: 7.8rem

    @media screen and (min-width: $breakpoint)
        flex-direction: row
        justify-content: flex-start
        gap: 3.3rem
        max-width: 44.5rem
        height: 5.5rem

.rating-row
    @extend %ratings-row-structure
    border-radius: 1rem
    background-color: $light-grayish-magenta

    &--top
        @media screen and (min-width: $breakpoint)
          align-self: flex-start

    &--bottom
        @media screen and (min-width: $breakpoint)
          align-self: flex-end

    &__five-stars
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        gap: .8rem

        @media screen and (min-width: $breakpoint)
            margin-left: 3.2rem

    &__star
        width: 1.7rem
        height: auto

    &__rating
        @include font(1.7rem, $bold, $very-dark-magenta)

        &--top
          margin-left: 1rem     

          @media screen and (min-width: $breakpoint)
            margin-left: 0       

.cards-area
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    gap: 1.9rem

    @media screen and (min-width: $breakpoint)
        grid-column: 1 / 3
        grid-row: 2 / 3
        flex-direction: row
        justify-content: space-between
        min-height: 26.6rem

%card-structure
    padding: 4rem 3rem 2.8rem 3.2rem
    width: 100%

    @media screen and (min-width: $breakpoint)
        padding-top: 4.05rem
        height: 23.4rem
        width: 35rem

.card
    @extend %card-structure
    border-radius: 1rem
    background-color: $very-dark-magenta

    &--left
        @media screen and (min-width: $breakpoint)
          align-self: flex-start

    &--right
        @media screen and (min-width: $breakpoint)
          align-self: flex-end

    &__person-row
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: flex-start
        gap: 2.2rem
        margin-bottom: 2.7rem

        @media screen and (min-widthL $breakpoint)
            gap: 2.1rem

    &__img-structure
        display: block
        width: 4.2rem
        height: auto
        overflow: hidden

    &__img
        @extend .card__img-structure
        border: none
        border-radius: 50%

    &__name-structure
        margin-top: 0.5rem
        margin-bottom: 0.4rem

        @media screen and (min-width: $breakpoint)
            margin-top: 0.2rem
            margin-bottom: 0.4rem

    &__name
        @extend .card__name-structure
        @include font(1.67rem, $bold, $white)

        @media screen and (min-width: $breakpoint)
            font-size: 1.7rem

    &__buyer-status
        @include font(1.67rem, $medium-weight, $soft-pink)

        @media screen and (min-width: $breakpoint)
            font-size: 1.69rem

    &__quote
        @include font(1.63rem, $medium-weight, $white)
        line-height: 1.33

        @media screen and (min-width: $breakpoint)
            font-size: 1.63rem


// footer

.attribution
    font-size: 1.1rem
    text-align: center

.attribution a 
    color: hsl(228, 45%, 44%)


// Development redefinition level

// body
//     background:
//         image: url("./design/mobile-design.jpg")
//         position: left top
//         repeat: no-repeat
//         size: 37.5rem auto

//     @media screen and (min-width: $breakpoint)
//         background:
//             image: url("./design/desktop-design.jpg")
//             size: 144rem auto

// .container-grid
//     @media screen and (min-width: $breakpoint)
//       opacity: .5